extends layout

block content
  h1= title
  form(action='/users', method='POST')
      input(type='text', placeholder='name', name='name')
      input(type='text', placeholder='lastName', name='lastName')
      button(type='submit') Submit